@using Ticket.Models
@model  Users
@{
    ViewBag.Title = "Index";
}

<h1 class="mb-2">Gönderilerim</h1>
<div class="container-fluid mt-2">
    @foreach (Ticket t in Model.Tickets)
    {
        <div class="row mt-2 ">
            <div class="col-md-8 border rounded align-self-center bg-white">
                <h2>@t.Title</h2>
                <p>@t.Text</p>
                @if (!t.FilePath.IsEmpty())
                {
                    <button class="btn btn-icon btn-outline-primary">
                        <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                        @Html.ActionLink(Path.GetFileName(t.FilePath).ToString(),"Download","Admin",new{id = t.Id},new{@class= "btn-inner--text" })

                    </button>
                        

                }
                <p class ="text-right">
 
                    <span ><small >@t.DateTime.ToString("d")</small></span> 
                </p>
                <br />
                <br />

                <p class="text-right">Bilet Tipi : @t.Type</p>
                <p class="text-right text-danger">@t.Status</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        foreach (Reply r in t.Replies)
        {
            <div class="row mt-2 ">
                <div class="col-md-4"></div>
                <div class="col-md-8 border rounded bg-success">
                    <blockquote class="blockquote ">
                        <p class="pl-2 ">@r.Text </p>
                        <footer class="blockquote-footer text-right"><cite> <small>@r.WriterAdmin.Username @r.date.ToLocalTime().ToString("g") tarihinde yanıtladı</small> </cite> </footer>
                    </blockquote>
                </div>
            </div>
        }
    }
</div>