<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Favicon -->
    <link href="~/assets/img/brand/favicon.png" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="~/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link href="~/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <!-- Argon CSS -->
    <link type="text/css" href="/assets/css/argon.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default mb-4">
    <div class="container">
        @if (Session["Admin"] != null)
        {
            @Html.ActionLink("Ticket Sistemi", "Index", "Admin", null, new {@class = "navbar-brand", id = "navbar-brand"})

        }
        else
        {
            @Html.ActionLink("Ticket Sistemi", "Index", "Home", null, new {@class = "navbar-brand", id = "navbar-brand"})

        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-primary">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="../../assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav ml-lg-auto">
                @if (Session["Login"] == null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-icon btn btn-outline-default" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ni ni-single-02 "> </i><span class="nav-link-inner--text"><strong>Giriş Yap </strong></span></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
                            @Html.ActionLink("Giriş Yap", "Index", "SignIn", null, new {@class = "dropdown-item"})
                            @Html.ActionLink("Kayıt Ol", "Index", "Register", null, new {@class = "dropdown-item"})
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link btn btn-outline-default" href="#" id="navbar-primary_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ni ni-single-02 "></i><strong class="nav-link-inner--text">@Session["Login"].ToString() </strong></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-primary_dropdown_1">
                            @Html.ActionLink("Ayarlar", "EditProfile", "Tickets", null, new {@class = "dropdown-item"})
                            @Html.ActionLink("Çıkış Yap", "SignOut", "Home", null, new {@class = "dropdown-item"})
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link nav-link-icon " href="/Tickets"> <i class="ni ni-archive-2"></i><strong class="nav-link-inner--text">Biletlerim</strong></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-icon " href="/Tickets/Create"> <i class="ni ni-send"></i><strong class="nav-link-inner--text">Bilet Ekle</strong></a>
                    </li>
                    if (Session["Admin"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon " href="/Admin/Assignments">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-task" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                                </svg><strong class="nav-link-inner--text">Bana Atanan Biletler</strong></a>
                        </li>
                    }
                }



            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year -</p>
    </footer>
</div>
<!-- Core -->
<script src="~/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<!-- Argon JS -->
<script src="~/assets/js/argon.min.js"></script>
</body>
</html>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('title')
        var id = button.data('id')// Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Şu başlıklı Ticket Silinecek : ' + recipient)
        modal.find('.modal-footer a').attr("href","/Tickets/Delete/" + id)
    })
</script>