@using System.Web.Mvc.Html
@using Ticket.Models
@using ListofUserAndTicketViewModel = Ticket.ViewModels.ListofUserAndTicketViewModel
@model ListofUserAndTicketViewModel
@{
    ViewBag.Title = "Index";

}

<hr />
<div class="container-fluid">
    @foreach (Ticket t in Model.TicketsList)
    {
        <div class="row mt-2 ">
            <div class="col-md-7 border shadow-sm">
                <h1>@t.Title</h1>
                <h4 class="text-right">Önceliği: @t.Priority</h4>
                <h5 class="text-right">Tipi: @t.Type</h5>

                <blockquote class="blockquote ">
                    <p class="pl-2 ">@t.Text </p>
                    <footer class="blockquote-footer text-right"><cite> <small>@t.Author.Username</small> </cite> </footer>
                </blockquote>
                <div class="row">
                    <div class="col-6">
                        @if (!t.FilePath.IsEmpty())
                        {
                            <button class="btn btn-icon btn-outline-primary">
                                <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                                @Html.ActionLink(Path.GetFileName(t.FilePath).ToString(),"Download",new{id = t.Id},new{@class= "btn-inner--text" })
                            </button>

                        }
                    </div>
                    <div class="col-6">
                        <p class="text-right ">

                            <small class="text-danger">
                                @if (t.assignedTo != null)
                                {
                                    @(t.assignedTo.Admin.Username + "'ya atandı")
                                    <br />
                                    if (t.assignedTo.Deadline!=default(DateTime))
                                    {
                                        @(t.assignedTo.Deadline.ToString("d") + " Son tarih")

                                    }

                                }
                                <p class="text-right">
                                    <small>Durumu:</small>
                                    <small>@t.Status</small>
                                </p>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                @Html.ActionLink("Cevapla", "Reply", new { id = @t.Id }, new { @class = "btn btn-danger btn-sm mt-3 mb-3" })
                @using (Ajax.BeginForm("Assign", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "button", InsertionMode = InsertionMode.Replace }))
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @if (Model.AssignList != null)
                            {
                                @Html.DropDownListFor(x => x.Admin.ID, Model.AssignList, "Atanacak Kişiyi Seçiniz", new { @class = "form-control form-control-sm" })

                            }
                            @Html.HiddenFor(x => x.ID, new { @Value = t.Id })
                        </div>

                        <div class="form-group col-md-6">
                            <div class="input-group">
                                @Html.EditorFor(x => x.Deadline, new { htmlAttributes = new { @class = "form-control form-control-sm datepicker", placeholder = "Select date", type = "date", value = DateTime.UtcNow.ToString("dd/MM/yyyy ") } })
                                <input type="submit" value="Assign" class="btn btn-primary btn-sm" />
                                <span id="button">
                                </span>
                            </div>
                        </div>
                    </div>
                }

                @using (Ajax.BeginForm("PriorityResult", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "button2", InsertionMode = InsertionMode.Replace }))
                {
                    <div class="form-row mb-2">
                        @if (Model.PriorityList != null)
                        {
                        @Html.DropDownListFor(x => x.Tickets.Priority, Model.PriorityList, "Önemini Seçiniz", new { @class = "form-control form-control-sm" })
                        @Html.HiddenFor(x => x.TicketID, new { @Value = t.Id })
                        }

                        <input type="submit" value="Assign" class="btn btn-primary btn-sm" />
                        <span id="button2">
                        </span>
                    </div>

                }
                @using (Ajax.BeginForm("StatusResult", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "button3", InsertionMode = InsertionMode.Replace }))
                {
                    <div class="form-row">

                        @if (Model.StatusList != null)
                        {
                        @Html.DropDownListFor(x => x.Tickets.Status, Model.StatusList, "Durumunu Seçiniz", new { @class = "form-control form-control-sm" })
                        @Html.HiddenFor(x => x.TicketID, new { @Value = t.Id })
                        }
                        <input type="submit" value="Assign" class="btn btn-primary btn-sm" />
                        <span id="button3">
                        </span>
                    </div>

                }
            </div>
        </div>
        foreach (Reply r in t.Replies)
        {
            <div class="row mt-2">
                <div class="col-5"></div>
                <div class="col-7 border shadow-sm align-self-end bg-green text-right">
                    <blockquote class="blockquote ">
                        <p class="pl-2 ">@r.Text </p>
                        <footer class="blockquote-footer text-right"><cite> <small>@r.WriterAdmin.Username</small> </cite> </footer>
                    </blockquote>
                </div>
            </div>
        }
        <hr />

    }
</div>