@using System.Web.Mvc.Html
@using Ticket.Models
@model List<Ticket>
@{
    ViewBag.Title = "Index";

}

<hr />

<div class="table-responsive ">

    <div>
        <table class="table  table-striped align-items-center ">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="sort" data-sort="name">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "name")
                        {
                            @Html.ActionLink("İSİM", "Index", new { sortby = "-name" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("İSİM", "Index", new { sortby = "name" }, new { @class = "text-default" })

                        }
                    </th>
                    <th scope="col" class="sort" data-sort="status">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "status")
                        {
                            @Html.ActionLink("DURUMU", "Index", new { sortby = "-status" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("DURUMU", "Index", new { sortby = "status" }, new { @class = "text-default" })

                        }
                    </th>
                    <th scope="col" class="sort" data-sort="type">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "type")
                        {
                            @Html.ActionLink("TÜRÜ", "Index", new { sortby = "-type" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("TÜRÜ", "Index", new { sortby = "type" }, new { @class = "text-default" })

                        }
                    </th>
                    <th scope="col" class="sort" data-sort="date">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "date")
                        {
                            @Html.ActionLink("TARİHİ", "Index", new { sortby = "-date" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("TARİHİ", "Index", new { sortby = "date" }, new { @class = "text-default" })

                        }
                    </th>
                    <th scope="col" class="sort" data-sort="deadline">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "deadline")
                        {
                            @Html.ActionLink("SON TARİHİ", "Index", new { sortby = "-deadline" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("SON TARİHİ", "Index", new { sortby = "deadline" }, new { @class = "text-default" })

                        }
                    </th>
                    <th scope="col" class="sort" data-sort="admin">
                        @if (Request.QueryString["sortby"] != null && Request.QueryString["sortby"].ToString() == "admin")
                        {
                            @Html.ActionLink("ADMIN", "Index", new { sortby = "-admin" }, new { @class = "text-default" })

                        }
                        else
                        {
                            @Html.ActionLink("ADMIN", "Index", new { sortby = "admin" }, new { @class = "text-default" })

                        }
                    </th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (Ticket t in Model)
                {
                    <tr>
                        <th scope="row">

                            <a class="table-link" href="Admin/Ticket/@t.Id"> @t.Title </a>
                        </th>
                        <td class="status">
                            @t.Status
                        </td>
                        <td class=" type">
                            @t.Type
                        </td>
                        <td class="date">

                            @t.DateTime.ToString("d")
                        </td>
                        <td class="deadline">
                            @if (t.assignedTo != null && t.assignedTo.Deadline != null)
                            {
                                @t.assignedTo.Deadline.ToString("d")

                            }
                        </td>
                        <td class="admin">
                            @if (t.assignedTo != null && t.assignedTo.Admin != null)
                            {
                                @t.assignedTo.Admin.Username.ToString()

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

