@using Ticket.Models
@using Type = System.Type
@model Log

@{
    ViewBag.Title = "Log";
    Type type = null;
    switch (Model.ObjecType)
    {
        case "Ticket.Models.Ticket":
            type = typeof(Ticket);
            break;
        case "Ticket.Models.Reply":
            type = typeof(Reply);
            break;
        case "Ticket.Models.Assignment":
            type = typeof(Assignment);
            break;
        case "Ticket.Models.Users":
            type = typeof(Users);
            break;
    }
}

<div class="container-fluid">
    <div class="row">
        <ul>
            <li>
                Log ID : @Model.ID
            </li>
            <li>
                Tarih : @Model.Time.ToString("g")
            </li>
            <li>
                IP Adresi : @Model.IP
            </li>
            <li>
                İşlem : @Model.Type
            </li>
            <li>
                İşlemi Yapan kullanıcı @(Model.Users==null?"Anonim":Model.Users.Username)
            </li>
            <li>
                @if (String.IsNullOrEmpty(Model.ObjecType))
                {
                    <p>Cinsi: Yok</p>
                }
                else
                {
                    <p>Cinsi: @(Model.ObjecType)</p>

                }
            </li>
        </ul>
    </div>
    @if (!Model.ObjecType.IsEmpty())
    {
        <div class="row">
            @if (Model.Type == "Düzenlendi" || Model.Type == "Silindi")
            {
                <div class="col-md-5 ml-2 border rounded border-dark ">
                    @if (Model.ObjecType == "Bilet")
                    {
                        Ticket prev = Model.PreviousTicket as Ticket;
                        if (Model.NexTicket != null && prev.Title != Model.NexTicket.Title)
                        {
                            <h4 class="text-red">Eski Başlığı : @prev.Title</h4>
                        }
                        else
                        {
                            <h4>Başlığı : @prev.Title</h4>

                        }
                        if (Model.NexTicket != null && prev.Text != Model.NexTicket.Text)
                        {
                            <p class="text-red">Eski İçeriği : @prev.Text</p>
                        }
                        else
                        {
                            <p>İçeriği : @prev.Text</p>

                        }
                        if (Model.NexTicket != null && prev.Priority != Model.NexTicket.Priority)
                        {
                            <p class="text-red"> Eski Önceliği  : @prev.Priority</p>
                        }
                        else
                        {
                            <p>Önceliği  : @prev.Priority</p>

                        }
                        if (Model.NexTicket != null && prev.Status != Model.NexTicket.Status)
                        {
                            <p class="text-red">Eski Durumu : @prev.Status</p>
                        }
                        else
                        {
                            <p>Durumu : @prev.Status</p>

                        }
                        if (Model.NexTicket != null && prev.Type != Model.NexTicket.Type)
                        {
                            <p class="text-red">Eski Tipi : @prev.Type</p>
                        }
                        else
                        {
                            <p>Tipi : @prev.Type</p>

                        }
                        if (Model.NexTicket != null && prev.FilePath != Model.NexTicket.FilePath)
                        {
                            if (prev.FilePath != null)
                            {
                                <p class="text-red">Eski Dosya : @Path.GetFileName(prev.FilePath).ToString()</p>

                            }
                            else
                            {
                                <p class="text-red">Eski Dosya : Yok</p>

                            }
                        }
                        else
                        {
                            if (prev.FilePath != null)
                            {
                                <p class="text-red">Eski Dosya : @Path.GetFileName(prev.FilePath).ToString()</p>

                            }
                            else
                            {
                                <p class="text-red">Eski Dosya : Yok</p>

                            }

                        }

                    }
                    else if (Model.ObjecType == "Atama")
                    {
                        Assignment prev = Model.PreviousAssignment as Assignment;
                        if (Model.NextAssignment != null && prev.Admin.Username != Model.NextAssignment.Admin.Username)
                        {
                            <p class="text-red">Eski Admini :  @prev.Admin.Username</p>
                        }
                        else
                        {
                            <p>Admini : @prev.Admin.Username</p>

                        }
                        if (Model.NextAssignment != null && prev.Deadline != Model.NextAssignment.Deadline)
                        {
                            <p class="text-red">Eski Son Tarihi : @prev.Deadline</p>
                        }
                        else
                        {
                            <p>Son Tarihi : @prev.Deadline</p>

                        }
                        if (Model.NextAssignment != null && prev.IsDone != Model.NextAssignment.IsDone)
                        {
                            <p class="text-red">Eski Yapılma Durumu : @prev.IsDone</p>
                        }
                        else
                        {
                            <p>Yapılma Durumu : @prev.IsDone</p>

                        }
                        <p>Bilet ID  : @Model.Assignment.Ticket.Id</p>

                    }
                    else if (Model.ObjecType == "Kullanıcı")
                    {
                        Users prev = Model.PreviousUsers as Users;
                        if (Model.NextUsers != null && prev.Username != Model.NextUsers.Username)
                        {
                            <p class="text-red">Eski Kullanıcı Adı : @prev.Username</p>
                        }
                        else
                        {
                            <p>Kullanıcı Adı : @prev.Username</p>

                        }
                        if (Model.NextUsers != null && prev.Email != Model.NextUsers.Email)
                        {
                            <p class="text-red">Eski e-postası : @prev.Email</p>
                        }
                        else
                        {
                            <p>E-posta :  @prev.Email</p>

                        }
                        if (Model.NextUsers != null && prev.IsConfirmed != Model.NextUsers.IsConfirmed)
                        {
                            <p class="text-red">Eski Onaylanma Durumu : @prev.IsConfirmed</p>
                        }
                        else
                        {
                            <p>Onaylanma Durumu : @prev.IsConfirmed</p>

                        }
                        if (Model.NextUsers != null && prev.Name != Model.NextUsers.Name)
                        {
                            <p class="text-red">Eski Adı : @prev.Name</p>
                        }
                        else
                        {
                            <p>Adı : @prev.Name</p>

                        }
                        if (Model.NextUsers != null && prev.Surname != Model.NextUsers.Surname)
                        {
                            <p class="text-red">Eski Soyadı : @prev.Surname</p>
                        }
                        else
                        {
                            <p>Soyadı : @prev.Surname</p>

                        }
                    }
                    else
                    {
                        Reply prev = Model.PreviousReply as Reply;
                        if (Model.NextReply != null && prev.Text != Model.NextReply.Text)
                        {
                            <p class="text-red">Eski İçeriği : @prev.Text</p>
                        }
                        else
                        {
                            <p>İçeriği : @prev.Text</p>

                        }
                        if (Model.NextReply != null && prev.date != Model.NextReply.date)
                        {
                            <p class="text-red">Eski Tarihi :@prev.date</p>
                        }
                        else
                        {
                            <p>Tarihi : @prev.date</p>

                        }

                    }
                </div>
            }
            @if (Model.Type != "Silindi")
            {
                <div class="col-md-5 border rounded border-dark ml-auto">
                    @if (Model.ObjecType == "Bilet")
                    {
                        <h4>Başlığı : @Model.NexTicket.Title</h4>
                        <p>İçeriği : @Model.NexTicket.Text </p>
                        <p>Önceliği : @Model.NexTicket.Priority</p>
                        <p>Durumu : @Model.NexTicket.Status</p>
                        <p>Tipi : @Model.NexTicket.Type</p>
                        if (Model.NexTicket.FilePath != null)
                        {
                            <p>Tipi : @Path.GetFileName(Model.NexTicket.FilePath).ToString()</p>

                        }
                        else
                        {
                            <p>Tipi : Yok</p>

                        }

                    }
                    else if (Model.ObjecType == "Atama")
                    {
                        <p> Admini : @Model.NextAssignment.Admin.Username</p>
                        <p>Son Tarihi : @Model.NextAssignment.Deadline</p>
                        <p>Yapılma Durumu : @Model.NextAssignment.IsDone</p>
                        <p>Bilet ID  : @Model.Assignment.Ticket.Id</p>

                    }
                    else if (Model.ObjecType == "Kullanıcı")
                    {
                        <p>Kullanıcı Adı : @Model.NextUsers.Username</p>
                        <p>E-postası : @Model.NextUsers.Email</p>
                        <p>Onaylanma Durumu : @Model.NextUsers.IsConfirmed</p>
                        <p>Adı : @Model.NextUsers.Name</p>
                        <p>Soyadı : @Model.NextUsers.Surname</p>
                    }
                    else if (Model.ObjecType == "Yanıt")
                    {
                        <p>İçeriği : @Model.NextReply.Text</p>
                        <p>Tarihi : @Model.NextReply.date</p>

                    }
                </div>
            }
        </div>
    }
</div>